.article-header {
  margin-bottom: .5em;
  text-transform: uppercase;

  .article-category {
    font-size: .625em;
  }

  .article-heading {
    margin-bottom: 0;
    line-height: 1em;
    text-transform: none;
  }

  .article-meta {
    font-size: .75em;

    .article-date {
      margin-right: 1em;
    }
  }
}
